@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --localization: hsl(75, 94%, 57%);
  --text-normal: hsl(0, 0%, 100%);

  --background-color-menu: hsl(0, 0%, 20%);
  --background-color-card: hsl(0, 0%, 12%);
  --background-color-document: hsl(0, 0%, 8%);

  --font-weight-description-job: 400;
  --font-weight-menu: 700;
  --font-weight-localization: 600;
  --font-weight-name: 400;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-document);
}
.card {
  width: 100%;
  max-width: 375px;
  padding: 2.5rem;
  text-align: center;
  background-color: var(--background-color-card);
  border-radius: 1rem;
}

img {
  border-radius: 10.71rem;
  width: 100px;
  margin: auto;
}

h1 {
  color: var(--text-normal);
  font-size: 2rem;
  font-weight: var(--font-weight-name);
  margin: 2rem 0 0.5rem 0;
}

.localization {
  color: var(--localization);
  font-weight: var(--font-weight-localization);
  margin-bottom: 2rem;
}

.description-job {
  color: var(--text-normal);
  font-weight: var(--font-weight-description-job);
  margin-bottom: 2rem;
}

.menu {
  margin-top: 1rem;
}

.menu p {
  background-color: var(--background-color-menu);
  font-weight: var(--font-weight-menu);
  color: var(--text-normal);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
}

.menu p:last-child {
  margin: 0;
}

.menu p:hover {
  background-color: var(--localization);
  color: var(--background-color-menu);
  font-weight: var(--font-weight-menu);
}
